.modal {
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 15px;
  background-color: #142433;
  color: #f5b349;
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  background-color: transparent;
  outline: none;
  color: red;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}

.button {
  display: flex;
  width: 100%;
  margin-right: 20px;
  justify-content: flex-end;
  align-items: flex-end;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagens {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem {
  max-width: 90%;
  height: auto;
  align-self: center;
  position: relative;
  border-radius: 10px;
}

.left-arrow {
  position: relative;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer
}

.right-arrow {
  position: relative;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer
}

h1 {
  margin-bottom: 20px;
}


.description {
  margin: 10px 50px;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .description {
    font-size: 15px;
  }

  .container {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .description {
    font-size: 17px;
  }

  .container {
    width: 95%;
  }
}